*{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

.active{
    background-color: rgb(44, 87, 204);
    color: white;
    border-radius: 8px;
}

.banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.nav-item :hover{
    background-color: rgb(44, 87, 204);
    border-radius: 8px;
    color: white;
}

.nav-item{
    margin-left: 8px;
}

.nav-link{
    color: white !important;
}

